.text-center {
    text-align: center;
}

.header {
    color: rgb(120, 120, 120);
    font-weight: bold;
    font-size: 36px;
    margin-left: 20px;
    text-align: center;
}

.line {
    height: 2px;
    background-color: rgb(120, 120, 120);
    margin: 10px;
}

.contact {
    font-size: 18px;
    color: rgb(120, 120, 120);
}

.padding {
    margin-top: 10px;
    margin-bottom: 10px;
}