.text-center {
    text-align: center;
}

.line {
    height: 2px;
    background-color: rgb(120, 120, 120);
}

.contact {
    font-size: 18px;
    color: rgb(120, 120, 120);
}

.padding {
    margin-top: 10px;
    margin-bottom: 10px;
}