ul.nav li a {
    font-family: 'Comfortaa', cursive;
    color: black;
}

ul.nav li a:hover {
    color: rgb(120, 120, 120);
}

.text-left {
    text-align: left;
    padding-left: 30px;
}

.title {
    color: rgb(120, 120, 120);
    font-weight: bold;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.contact {
    font-size: 18px;
    color: rgb(120, 120, 120);
    margin-top: 0px;
    margin-bottom: 0px;
}

.caption {
    color: rgb(120, 120, 120);
    font-size: 18px;
}

.row {
    margin-top: 30px;
    margin-bottom: 30px;
}

.line {
    height: 2px;
    background-color: rgb(120, 120, 120);
    margin: 10px;
}

div {
    margin: 0;
}