/* CSS for slider via https://orangeable.com/css/before-and-after-image-slider */

.BA {
    padding: 20px;
}

.BA .column p {
    margin: auto;
    text-align: center;
}

.gallery {
    width: 100%;
    height: 500px;
    position: relative;
    margin: auto;
}

.image {
    /* padding: 40px; */
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: left;
}

.after {
    width: 100%;
}

.before {
    z-index: 2;
    width: 50%;
}

.range {
    z-index: 3;
    width: 100%;
    height: 100%;
    position: absolute;
    appearance: none;
    color: white;
    background: transparent;
    opacity: 0%;
}

.slider {
    z-index: 4;
    height: 100%;
    width: 5px;
    background-color: white;
    position: absolute;
    left: 50%;
}