.row {
    margin: auto;
    width: 90vw;
    display: flex;
    justify-content: center;
    padding: 10px;
}

div.col-md-4 {
    padding-bottom: 10px;
}

h4,
p {
    text-align: center;
    margin: auto;
    padding-top: 10px;
}

img {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 165px;
    object-fit: cover;
    margin: auto;
}

.title {
    font-weight: bold;
    width: 165px;
}

.email,
a {
    color: inherit;
}